#itemCont{
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item{
	caret-color: transparent;
	cursor: default;
	border-radius: 5px;
}

.item:hover{
	background-color: aquamarine;
}

.item:active{
	background-color: whitesmoke;
}